section.lab {
    display: flex;
    height: 100%;
    width: 100%;
    /* border-radius: 16px; */
}

section.lab > aside {
    width: 30%;
    max-width: 440px;
    background-color: var(--base);
    color: var(--on-base);
    padding: 16px;
}

section.lab > main {
    width: 100%;
    background-color: var(--base-light);
    color: var(--on-base);
    padding: 16px;
}
